body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	background-color: #ddd;
}

.mandatory {
	color: red;
}

nav {
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	margin: 0px;
}

nav a {
	color: white;
}

main {
	padding: 10px;
}

.logo-center {
	width: 12rem;
	transform: translateY(-0.3rem);
}

.fa-right-to-bracket, .fa-right-from-bracket{
	transform: translate(-25%, 18.5%);
}

.fa-wrench, .fa-house-user, .fa-address-book, .fa-lightbulb {
	transform: translate(-25%, 0%);
}

.like-heart-icon {
	margin-right: 5px;
}

.post-page-stats {
	margin-right: 20px;
}