<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/static/logo.png" width="200" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
		<% if (locals.logged_in) { %>
		<ul class="navbar-nav me-auto">	  
				<li class="nav-item">
					<a class="nav-link" href="/create_post">Zgłoś pomysł</a>
				</li>
				<% if(locals.user.admin) { %>
					<li class="nav-item">
						<a class="nav-link" href="/admin">Panel Adminsitratora</a>
					</li>
				<% } %>
			</ul>
		<a class="nav-link" href="/api/logout">Wyloguj się</a>
		<% } else { %>
		<ul class="navbar-nav me-auto"></ul>
		<a class="nav-link" href="/login">Zaloguj się</a>
		<% } %>
		</div>
	</div>
</nav>