<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
	<div class="container">
		<a class="navbar-brand" href="#">Nasze-Miasto</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>	
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">	
			<div class="navbar-nav">
				<% if (locals.logged_in) { %>
					<a class="nav-link" href="/create_post">Zgłoś pomysł</a>
					<a class="nav-link" href="/api/logout">Wyloguj się</a>
				<% } else { %>
					<a class="nav-link" href="/login">Zaloguj się</a>
				<% } %>
			</div>		
		</div>
	</div>
</nav>