<%- include("../partials/header") %>
<script src="https://cdn.tiny.cloud/1/fr6kjy3uthc0coft8ony3vo5wdtv9k5xqufxb35pts3gsh2y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector: "textarea#post_content_ta",
		plugins: "anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tableofcontents footnotes autocorrect",
		toolbar: "undo redo bold italic underline strikethrough | link image media table | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
	});
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<title>Panel Administratora</title>
<div class="container">
	<div class="pb-2 mb-2 border-bottom">
		<h2>Panel Administratora</h2>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Dodaj miasto</h3>
	</div>

	<div class="pb-2 mb-2">
		<p>
			<!-- TODO: Put actual controls here -->
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium tellus et eros laoreet, et ultrices arcu cursus. Duis vulputate id dolor eu hendrerit. Nunc ultrices interdum neque, suscipit malesuada mi tincidunt in. Proin et nunc blandit, tristique orci nec, commodo arcu. Fusce a dolor nec elit dignissim convallis at non est. Nunc eu venenatis mauris. Donec tristique vitae lorem et dictum. Phasellus eget accumsan turpis, non viverra nisl. Nullam convallis pretium pulvinar. Proin orci erat, rhoncus vel ultrices ut, sodales id eros. Sed accumsan feugiat tincidunt. Phasellus tristique iaculis elit id laoreet.
		</p>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Nagłówek</h3>
	</div>

	<div class="pb-2 mb-2">
		<p>
			<!-- TODO: Put actual controls here -->
			In lacinia dictum est et ornare. Etiam vel tortor quis elit posuere placerat id vel turpis. Nam iaculis ornare vestibulum. Quisque eleifend facilisis arcu, commodo vulputate leo condimentum tristique. In egestas facilisis egestas. Sed facilisis blandit justo, nec placerat mi placerat a. Suspendisse potenti. Duis pharetra elit quis ex aliquam, sit amet volutpat mauris suscipit. Ut facilisis vitae eros eget efficitur. Phasellus a nisl lectus. Nullam at justo et magna gravida pretium quis vitae nulla. Nullam auctor urna risus, quis commodo quam posuere ut. Nunc tellus nulla, lobortis ut nisi vel, ultrices tempor erat.
		</p>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Nagłówek</h3>
	</div>

	<div class="pb-2 mb-2">
		<p>
			<!-- TODO: Put actual controls here -->
			Cras id varius neque, vel ultricies ex. Etiam ac nisl ac purus porta molestie ultricies at nunc. Morbi sit amet posuere risus, sit amet sodales eros. Proin ex orci, facilisis sit amet semper sed, gravida in nisl. Maecenas in nunc justo. Sed porttitor, purus at ultricies volutpat, risus mi molestie eros, at porttitor nisi nulla non justo. Sed semper sodales magna, vitae auctor mauris hendrerit vel. Duis mattis aliquet sapien. Vivamus felis sem, viverra et nulla suscipit, congue bibendum felis. Phasellus molestie metus velit, pharetra dignissim nisi eleifend at. Donec at feugiat dolor, et ullamcorper nibh. Fusce dignissim urna quis gravida lacinia.
		</p>
	</div>

</div>
<%- include("../partials/footer") %>