<%- include("../partials/header") %>
<title>Panel Administratora</title>
<div class="container">
	<div class="pb-2 mb-2 border-bottom">
		<h2>Panel Administratora</h2>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Dodaj miasto</h3>
	</div>

	<div class="pb-2 mb-2">
		<form class="mb-5" action="/api/add_city" method="post">

			

			<div class="mb-3">
				<label class="form-label" for="add_city_form_province">Województwo</label>
				<input class="form-control" type="text" name="province" id="add_city_form_province">
			</div>

			<div class="mb-3">
				<label class="form-label" for="add_city_form_county">Powiat</label>
				<input class="form-control" type="text" name="county" id="add_city_form_county">
			</div>

			<div class="mb-3">
				<label class="form-label" for="add_city_form_city">Miasto</label>
				<input class="form-control" type="text" name="city" id="add_city_form_city">
			</div>


			<button class="btn btn-primary" type="submit">Dodaj miasto</button>
		</form>
	</div>
	

</div>
<%- include("../partials/footer") %>