<%- include("../partials/header") %>
<title>Panel Administratora</title>
<div class="container">
	<div class="pb-2 mb-2 border-bottom">
		<h2>Panel Administratora</h2>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Dodaj miasto</h3>
	</div>

	<div class="pb-2 mb-2">
		<form class="mb-5" action="/api/add_city" method="post">

			

			<div class="mb-3">
				<label class="form-label" for="add_city_form_province">Województwo</label>
				<input class="form-control" type="text" name="province" id="add_city_form_province">
			</div>

			<div class="mb-3">
				<label class="form-label" for="add_city_form_county">Powiat</label>
				<input class="form-control" type="text" name="county" id="add_city_form_county">
			</div>

			<div class="mb-3">
				<label class="form-label" for="add_city_form_city">Miasto</label>
				<input class="form-control" type="text" name="city" id="add_city_form_city">
			</div>


			<button class="btn btn-primary" type="submit">Dodaj miasto</button>
		</form>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Nagłówek</h3>
	</div>

	<div class="pb-2 mb-2">
		<p>
			<!-- TODO: Put actual controls here -->
			In lacinia dictum est et ornare. Etiam vel tortor quis elit posuere placerat id vel turpis. Nam iaculis ornare vestibulum. Quisque eleifend facilisis arcu, commodo vulputate leo condimentum tristique. In egestas facilisis egestas. Sed facilisis blandit justo, nec placerat mi placerat a. Suspendisse potenti. Duis pharetra elit quis ex aliquam, sit amet volutpat mauris suscipit. Ut facilisis vitae eros eget efficitur. Phasellus a nisl lectus. Nullam at justo et magna gravida pretium quis vitae nulla. Nullam auctor urna risus, quis commodo quam posuere ut. Nunc tellus nulla, lobortis ut nisi vel, ultrices tempor erat.
		</p>
	</div>
	
	<div class="pb-2 mb-2">
		<h3>Nagłówek</h3>
	</div>

	<div class="pb-2 mb-2">
		<p>
			<!-- TODO: Put actual controls here -->
			Cras id varius neque, vel ultricies ex. Etiam ac nisl ac purus porta molestie ultricies at nunc. Morbi sit amet posuere risus, sit amet sodales eros. Proin ex orci, facilisis sit amet semper sed, gravida in nisl. Maecenas in nunc justo. Sed porttitor, purus at ultricies volutpat, risus mi molestie eros, at porttitor nisi nulla non justo. Sed semper sodales magna, vitae auctor mauris hendrerit vel. Duis mattis aliquet sapien. Vivamus felis sem, viverra et nulla suscipit, congue bibendum felis. Phasellus molestie metus velit, pharetra dignissim nisi eleifend at. Donec at feugiat dolor, et ullamcorper nibh. Fusce dignissim urna quis gravida lacinia.
		</p>
	</div>

</div>
<%- include("../partials/footer") %>