<%- include("../partials/header") %>
<title>Kontakt</title>
<div class="container">
	<div class="pb-2 mb-2 border-bottom">
		<h2>Kontakt</h2>
	</div>
    <div class="container-fluid p-5 text-center">
        <h2>Email</h2>
        <a href="mailto:naszemiasto@alwaysdata.net"><h3>naszemiasto@alwaysdata.net</h3></a> 
    </div>
</div>
<%- include("../partials/footer") %>