<%- include("../partials/header") %>
<title>Kontakt</title>
<div class="container">
	<div class="pb-2 mb-2 border-bottom">
		<h2>Kontakt</h2>
	</div>
    <div class="container-fluid p-5 text-center">
        <h2>Email</h2>
        <a href="mailto:naszemiasto@alwaysdata.net"><h3>naszemiasto@alwaysdata.net</h3></a> 
    </div>

    <div class="pb-2 mb-2 border-bottom">
		<h2>Autorzy</h2>
	</div>

    <div class="row text-center">
        <div class="col profile-con">
            <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light'
/>
            <h3>Jan Mali</h3>
        </div>
        <div class="col profile-con">
            <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortWaved&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Smile&skinColor=Light'
            />
            <h3>Jakub Królak</h3>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>