<%- include("../partials/header") %>
<script src="https://cdn.tiny.cloud/1/fr6kjy3uthc0coft8ony3vo5wdtv9k5xqufxb35pts3gsh2y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
</script>

<form action="/api/create_post" method="get">
	<input name="title" placeholder="Tytuł" type="text" />
	<br/>
	<textarea name="content" id="textarea" placeholder="Jaki masz pomysł na modernizację naszego miasta?"></textarea>
	<br/>
	<input type="submit" value="Wyślij"/>
</form>
<%- include("../partials/footer") %>