<%- include("../partials/header") %>
<script src="https://cdn.tiny.cloud/1/fr6kjy3uthc0coft8ony3vo5wdtv9k5xqufxb35pts3gsh2y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
</script>

<title>Zgłoś pomysł</title>
<div class="container">
	<div class="pb-2 mb-2">
		<h3>Zgłoś swój pomysł</h3>
	</div>

	<form action="/api/create_post" method="post">
		<input class="form-label" name="title" placeholder="Tytuł" type="text" />
		<div class="mb-3">
			<textarea name="content" id="textarea" placeholder="Jaki masz pomysł na modernizację naszego miasta?"></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Wyślij</button>
	</form>
</div>
<%- include("../partials/footer") %>