<%- include("../partials/header") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<title>Zgłoś pomysł</title>
<div class="container">
	<div class="pb-2 mb-2">
		<h3>Zgłoś swój pomysł</h3>
	</div>

	<form action="/api/create_post" method="post">
		<div class="mb-3">
			<input class="form-control" name="title" placeholder="Tytuł" type="text" />
		</div>
		<div class="mb-3">
			<textarea name="content" id="post_content_ta" placeholder="Jaki masz pomysł na modernizację naszego miasta?"></textarea>
			<script>
				const simplemde = new SimpleMDE({ element: document.getElementById("post_content_ta"), spellChecker: false });
			</script>
		</div>
		<div class="g-recaptcha" data-sitekey="6LfhM4MiAAAAAHfLrTt_b02N-At25y5_57PmVsFJ"></div>
		<button class="btn btn-primary" type="submit">Wyślij</button>
	</form>
</div>
<%- include("../partials/footer") %>