<%- include("../partials/header") %>
<script src="https://cdn.tiny.cloud/1/fr6kjy3uthc0coft8ony3vo5wdtv9k5xqufxb35pts3gsh2y/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector: "textarea#post_content_ta",
		plugins: "anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tableofcontents footnotes autocorrect",
		toolbar: "undo redo bold italic underline strikethrough | link image media table | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
	});
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<title>Zgłoś pomysł</title>
<div class="container">
	<div class="pb-2 mb-2">
		<h3>Zgłoś swój pomysł</h3>
	</div>

	<form action="/api/create_post" method="post">
		<div class="mb-3">
			<label for="title">Tytuł pomysłu <span class="mandatory">*</span></label>
			<input id="title" class="form-control" name="title" placeholder="Tytuł" type="text" required aria-required="true" required=""/>
		</div>

		<div class="mb-3">
			<label for="city">Miasto <span class="mandatory">*</span></label>
			<select id="city" name="city" class="form-select" required aria-required="true" required="">
				<% locals.db.cities.forEach((city)=>{ %>
					<option value="<%=city.name%>"><%= city.name %></option>
				<% }); %>
			</select>
		</div>

		<div class="mb-3">
			<label for="post_content_ta">Treść pomysłu <span class="mandatory">*</span></label>
			<textarea name="content" id="post_content_ta" placeholder="Jaki masz pomysł na modernizację naszego miasta?"></textarea>
		</div>
		<div class="g-recaptcha" data-sitekey="6LfhM4MiAAAAAHfLrTt_b02N-At25y5_57PmVsFJ"></div>
		<button class="btn btn-primary" type="submit">Wyślij</button>
	</form>
</div>
<%- include("../partials/footer") %>