<%- include("../partials/header") %>
<title>Główna</title>
Hello World!
<hr/>
<a href="/login">login</a> <a href="/api/logout">logout</a> <a href="/create_post">create_post</a>
<%- include("../partials/footer") %>