<%- include("../partials/header") %>
	<title>Logowanie</title>
	<form action="/api/login" method="post">
		<label for="login_form_email">Email</label>
		<input type="email" name="email" id="login_form_email">
		<br/>
		<label for="login_form_password">Hasło</label>
		<input type="password" name="password" id="login_form_password">
		<br/>
		<input type="submit" value="Zaloguj się">
	</form>
<%- include("../partials/footer") %>