<%- include("../partials/header") %>
<title>Juhu</title>
<div class="container">
    <div class="pb-2 mb-2 border-bottom">
        <h3>Udało się dodać twój pomysł!</h3>
    </div>
</div>
<%- include("../partials/footer") %>