<%- include("../partials/header") %>
<title>Błąd</title>
<div class="container">
    <div class="pb-2 mb-2 border-bottom">
        <h3>Nieudało się zamieścić twojego pomysłu.</h3>
    </div>
</div>
<%- include("../partials/footer") %>