<%- include("../partials/header") %>
	<title>Rejestracja</title>
	<form action="/api/singup" method="post">
        
        <label for="login_form_first_name">Imię</label>
		<input type="text" name="first_name" id="login_form_first_name">
		<br/>

        <label for="login_form_last_name">Nazwisko</label>
		<input type="text" name="last_name" id="login_form_last_name">
		<br/>

		<label for="login_form_email">Email</label>
		<input type="email" name="email" id="login_form_email">
		<br/>

		<label for="login_form_password">Hasło</label>
		<input type="password" name="password" id="login_form_password">
		<br/>

        <label for="login_form_confirm_password">Potwierdź hasło</label>
		<input type="password" name="confirm_password" id="login_form_confirm_password">
		<br/>

		<input type="submit" value="Zaloguj się">
	</form>
<%- include("../partials/footer") %>